<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Moosic | Dashboard</title>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    </head>
    <body>
        <div th:replace="jumbotron"></div>
        <nav th:replace="navigation"></nav>

        <!-- Controls -->
        <div class="container">
            <!-- <a href="/dashboard?action=pause"><div class="btn btn-primary">Pause</div></a> -->
            <a href="/dashboard?action=skip"><div class="btn btn-primary">Skip</div></a>
        </div>

        <!-- Queue -->
        <div id="queue" class="container" th:fragment="queue">
            <div th:replace="queue"></div>
        </div>

        <!-- Refresh queue data every second -->
        <script src="/js/jquery-3.6.0.min.js"></script>
        <script type="text/javascript">
        $(document).ready(function() {
            function refreshQueue(){
                $('#queue').load("/queue", function(){
                   setTimeout(refreshQueue, 1000);
                });
            }
            refreshQueue();
        });
        </script>
    </body>
</html>