<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:insert="head"></head>
    <body>
        <a class="btn btn-primary position-absolute float-left m-2" href="/"><div>Home</div></a>
        <div th:replace="jumbotron"></div>

        <!-- Queue -->
        <div class="container">
            <div class="w-100 shadow-sm bg-light text-center px-3 py-2 my-2 rounded">
                <div class="mt-1">
                    <span>Currently Playing</span><br>
                    <div id="active" th:insert="active"></div>
                </div>
                <div id="player" class="row m-1 my-2">
                    <div id="controls" class="col-2 d-flex justify-content-end mx-1">
                        <button id="play" type="button"><i id="play-icon" th:class="${player.isPaused() ? 'fas fa-play' : 'fas fa-pause' }" title="Play (Toggle)"></i></button>
                        <button id="skip" type="button"><i class="fas fa-forward" title="Skip"></i></button>
                        <button id="shuffle" type="button"><i class="fas fa-random" title="Shuffle"></i></button>
                    </div>
                    <div id="progress" class="col-6 mx-1 " th:insert="progress"></div>
                    <div class="col-2 d-flex justify-content-start mx-1">
                        <input id="volume" class="align-middle" type="range" th:value="${player.getVolume()}" min="0" max="100">
                    </div>
                </div>
            </div>

            <div id="trackError" class="d-none bg-danger text-white text-center p-3 my-2 rounded">Something broke whilst playing that track... skipping.</div>

            <div class="shadow-sm bg-light px-3 py-2 my-2 rounded">
                <div id="queueCollapseButton" class="position-relative pointer arrow" data-bs-toggle="collapse" data-bs-target="#queueCollapse" aria-expanded="true" aria-controls="queueCollapse">Queue</div>
                <div id="queueCollapse" class="collapse show" th:insert="queue"></div>
            </div>

            <div class="shadow-sm bg-light px-3 py-2 my-2 rounded">
                <div id="historyCollapseButton" class="position-relative pointer arrow" data-bs-toggle="collapse" data-bs-target="#historyCollapse" aria-expanded="true" aria-controls="historyCollapse">History</div>
                <div id="historyCollapse" class="collapse show" th:insert="history"></div>
            </div>
        </div>

        <script src="/js/jquery-3.6.0.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/scripts.js"></script>
        <script src="/js/queue.js"></script>
        <script src="/js/history.js"></script>
        <script src="/js/websocket.js"></script>
    </body>
</html>