<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="head"></head>
    <body>
        <a class="btn btn-primary position-absolute float-left m-2" href="/"><div>Home</div></a>
        <div th:replace="jumbotron"></div>

        <!-- Controls -->
        <div class="container">
            <div class="shadow-sm bg-light px-3 py-2 my-2">
                <button id="play" class="btn btn-sm btn-success" type="button">Play</button>
                <button id="skip" class="btn btn-sm btn-primary" type="button">Skip</button>
                <button id="stop" class="btn btn-sm btn-danger" type="button">Stop</button>
                <button id="clear-queue" class="btn btn-sm btn-dark" type="button">Clear Queue</button>
                <button id="clear-history" class="btn btn-sm btn-dark" type="button">Clear History</button>
            </div>
        </div>

        <!-- Queue -->
        <div class="container">
            <div id="status" class="w-100 shadow-sm bg-light px-3 py-2 my-2">
                <div th:replace="status"></div>
            </div>

            <div class="shadow-sm bg-light px-3 py-2 my-1">
                <div id="queueCollapseButton" class="position-relative pointer arrow" data-bs-toggle="collapse" data-bs-target="#queueCollapse" aria-expanded="true" aria-controls="queueCollapse">Queue</div>
                <div id="queueCollapse" class="collapse show">
                    <div th:replace="queue"></div>
                </div>
            </div>

            <div class="shadow-sm bg-light px-3 py-2 my-2">
                <div id="historyCollapseButton" class="position-relative pointer arrow" data-bs-toggle="collapse" data-bs-target="#historyCollapse" aria-expanded="true" aria-controls="historyCollapse">History</div>
                <div id="historyCollapse" class="collapse show">
                    <div th:replace="history"></div>
                </div>
            </div>
        </div>

        <!-- Refresh queue data every second -->
        <script src="/js/refresh-data.js"></script>
    </body>
</html>