<span class="lead" th:if="${history.size() == 0}">None</span>
<table id="history" class="table table-striped table-bordered table-hover my-2" th:if="${history.size() > 0}">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Length</th>
        </tr>
    </thead>
    <tbody th:fragment="history">
        <tr th:each="track, status : ${history}">
            <td scope="row" th:text="${status.count}"></td>
            <td><a target="_blank" th:href="${track.getInfo().uri}" th:text="${track.getInfo().title}"></a></td>
            <td th:text="${track.getUserData()}"></td>
        </tr>
    </tbody>
</table>