<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="head"></head>
    <body class="bg">
        <a class="btn btn-primary float-left m-2" href="/dashboard"><div>Dashboard</div></a>
        <div class="x-container">
            <div class="xc-container shadow-sm p-4">
                <div class="container px-4">
                    <h1 class="display-4">Moosic</h1>
                    <p class="lead">Something about parties and music.</p>
                </div>
                <span>Click <a href="/dashboard">here</a> to go to the dashboard</span>
            </div>
        </div>
    </body>
</html>