<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="head"></head>
    <body class="bg">
        <a class="btn btn-primary float-left m-2" href="/dashboard"><div>Dashboard</div></a>
        <div class="x-container">
            <div class="xc-container shadow-sm p-4">
                <div class="container px-4">
                    <h1 class="display-4">Moosic</h1>
                    <p class="lead">Something about parties and music.</p>
                </div>
                <form class="container px-m" action="/load" method="post">
                    <input class="form-control mb-1" id="url" type="url" name="url" placeholder="https://www.youtube.com/watch?v=rCVZtekaEPo">
                    <button type="submit" class="btn btn-primary w-100">Queue</button>
                </form>
            </div>
        </div>
    </body>
</html>