<span id="queue" class="lead" th:if="${queue.size() == 0}">None</span>
<table id="queue" class="table table-grabable table-striped table-bordered table-hover my-2" th:if="${queue.size() > 0}">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Length</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody th:fragment="queue">
        <tr class="grabable" th:attr="data-index=${status.index}" th:each="track, status : ${queue}">
            <td scope="row" th:text="${status.count}"></td>
            <td><a target="_blank" th:href="${track.getInfo().uri}" th:text="${track.getInfo().title}"></a></td>
            <td th:text="${track.getUserData().get('duration')}"></td>
            <td>
                <button class="queue" th:attr="data-url=${track.getInfo().uri}"><i class="fas fa-history" title="Queue"></i></button>
                <button class="remove" th:attr="data-index=${status.index}"><i class="fas fa-trash-alt" title="Remove"></i></button>
            </td>
        </tr>
    </tbody>
</table>